.pil-danger{
    width: 5px;
    height: 15px;
    border-radius: 5px;
    background-color: $danger;
}
.pil-warning{
    width: 5px;
    height: 15px;
    border-radius: 5px;
    background-color: $warning;
}
.pil-success{
    width: 5px;
    height: 15px;
    border-radius: 5px;
    background-color: $success;
}